# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/index — копия.js
/lessons 4.zip
/files/
/yarn.lock
/yarn — копия.lock
